{% extends "base.html" %}
    {% block content %}
<br>
<br>
<br>
<br>





      <!-- Page Content here -->
      <div class="container" id="start">
        <div class="wrapper" id="start">

        <div id="MainSection">

            <!-- Page Title Row H1, H4, and Horizontal Ad -->
            <div id="PageTitleRow" class="row">

                <!-- Page Title here H1, H4 -->
                <div id="PageTitleDiv" style="text-align:center;" class="col-12">
                    <br/>
                    

    <h1>ABOUT HIRANMAY ROY</h1>


                    <br/>
                </div>

                <!--Top Banner Horizontal Ad-->
                


            </div>

            <!-- Tool Started -->
            <div class="row">

                <div id="DivColumnMain" class="col-12">

                    <!--Tool Main-->
                    

   



                    <!--After Tool Horizontal Ad-->
                    


                    

    <div class="row" id="divExplain">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                        
            H-educate is a free Online Marketing & Business resource site. H-educate was founded in July 2017 by Hasan Aboul Hasan. The main goal of this site is to provide quality tutorials, tips, courses, tools, and other resources that allow anyone to work online and master digital marketing based on real case studies and deep research.
                </br>
            </br>
        </br>
            H-educate is a free Online Marketing & Business resource site. H-educate was founded in July 2017 by Hasan Aboul Hasan. The main goal of this site is to provide quality tutorials, tips, courses, tools, and other resources that allow anyone to work online and master digital marketing based on real case studies and deep research.
 </div>
 
    </div>


    {% endblock content %}
