{% extends "base.html" %}
    {% block content %}



      <!-- Page Content here -->
      <div class="container" id="start">
        <div class="wrapper" id="start">

        <div id="MainSection">

            <!-- Page Title Row H1, H4, and Horizontal Ad -->
            <div id="PageTitleRow" class="row">

                <!-- Page Title here H1, H4 -->
                <div id="PageTitleDiv" style="text-align:center;" class="col-12">
                    <br/>
                    

    <h1>Send Your FeedBack</h1>
    <h3>We will be happy to hear from you!</h3>


                    <br/>
                </div>

                <!--Top Banner Horizontal Ad-->
                


            </div>

            <!-- Tool Started -->
            <div class="row">

                <div id="DivColumnMain" class="col-12">

                    <!--Tool Main-->
                    

   



                    <!--After Tool Horizontal Ad-->
                    


                    

    <div class="row" id="divExplain">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div>
                        <h3>How to contact us?</h3>
                    </div>
                    <p style="font-size: medium">
                        Feel free to send us an email anytime: <a href="mailto:hiranmayroy06@gmail.com">hiranmayroy06@gmail.com</a>
                    </p>
                    <p style="font-size: medium">
                        We will try our best to respond in <b>less than 24 Hours</b>, Thanks!

                    </p>
                    
                    <div>
                        <h3>Important!</h3>
                    </div>
                    <p style="font-size: medium">
                        This Support Email is Only For H-supertools Website. If you need help with any other service from H-educate, please submit your question in the <a href="https://h-educate.com/forums/" target="_blank">forums</a>

                    </p>

                </div>
            </div>





    {% endblock content %}
